@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Open+Sans:400,700&display=swap');

$btn-color: #48bf72;
$text-color: #333;
$bg-color: #3c4955;
$title-color: #fff;

// толщина границы
$b-size: 2px;

$text-ff: 'Lato', sans-serif;
$title-ff: 'Open Sans', sans-serif;
$btn-ff: 'Lato', sans-serif;