@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Open+Sans:400,700&display=swap');

@import 'normalize';
@import 'variables';
@import 'mixins';


* {
    box-sizing: border-box;
}

a, button {
   text-decoration: none;
   border-radius: 3px;
}


html {
    height: 100%;
    font-size: 10px;
    scroll-behavior: smooth;
  }

body {
    min-height: 100%;
    margin: 0;
   
    @include font(1.4rem, $text-color, 400, $text-ff, 1.4);
    position: relative;
   
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    &__flex {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}
 
// Header

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-top: 7rem;
    padding-bottom: 7rem;
    &__link {
        padding-left: 5.5rem;
    }
}
.menu-burger {
    display: none;
}

.menu {
    list-style: none;
    padding: 0;
    &__item {
        display: inline-block;
        padding: 0 5.5rem;
        &:first-child {
           display: none;
        }
        &::before {
            content: "";
            display: block;
            width: 1px;
            height: 16px;  
            border-left: $b-size solid $title-color;
            opacity: .5;
            transform: translate(-60px, 20px) rotate(15deg);
        }
    }
    &__link {
        @include font(1.6rem, $title-color, 700, $text-ff, 1.4);
        text-decoration: none;
        &:hover,
        &:focus,
        &:active {
            color: $btn-color;
            @include hover;
        }
    
    }
}
.menu__item:nth-child(1)::before {
    display: none;
}
.menu__item:nth-child(2)::before {
    display: none;
}

// Main 

.section {
    &__first {
        background-position: center;
        background: rgba(60, 73, 85, .8);
        background-repeat: no-repeat;
        background-size: cover;
        color: $title-color;
        text-align: center;
        .container {
            flex-direction: column;
        }
    }
          
    &__title {
        @include font(4.6rem, $title-color, 700, $title-ff, 1.4);
        margin: 0;
    }
    &__subtitle {
        @include font(3rem, $title-color, 400, $title-ff, 1.4);
        margin: 0;
        margin-top: 2.5rem;
        margin-bottom: 5rem;
    }
    &__about {
        background-color: $bg-color;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
  }


.section:first-child {
    height: 100vh;
    display: flex;
    align-items: center;
}

.list {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    margin: 5rem auto;
    padding: 0;
    &__item {
        list-style: none;
        margin: 1rem;
    }
    &__link {
        text-decoration: none;
        padding: 1rem 1.8rem;
        white-space: nowrap;
        background: #eaeaea;
        @include font(1.6rem, $text-color, 700, $text-ff, 1.4);
        &:hover,
        &:focus,
        &:active {
            background: $btn-color;
            color: $title-color;
            @include hover;
        }
    }
}

.portfolio {
    display: flex;
    padding-bottom: 9rem;
     &__gallery {
      display: flex;
      flex-direction: column;
    }
    &__link {
        margin: 2rem;
        overflow: hidden;
        text-decoration: none;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 1.5rem;
        position: relative;
    }
    &__image {
        border-style: none;
        min-width: 100%;
        min-height: 100%;
        width: 100%;
        height: 100%;
        background: $btn-color;
        border-radius: 1.5rem;
    }
    &__text {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        left:0;
        right: 0;
        bottom: 0;
        text-align: center;
        visibility: hidden;
       justify-content: center;
    }
    &__title { 
        @include font(3rem, $title-color, 700, $text-ff, 1.4);
        margin: 2rem 0;
    }
    &__subtitle {
        @include font(1.6rem, $title-color, 400, $text-ff, 1.4);
        margin: 0;
        margin-top: -1rem;
    }
}

.portfolio__link:hover:after {
    content: "";
    display: block;
     position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(72, 191, 114, 0.9);
    @include hover;
}

.portfolio__link:hover {
    transform: scale(1.05);
    transition: all .3s ease-in;
    box-shadow: 0 0 15px 3px rgba(41, 54, 46, 0.8) ;
}
   


.portfolio__link:hover .portfolio__text {
     visibility: visible;
     z-index: 1;
}
  

.content {
   max-width: 50%;
   padding: 8.5rem 9rem 8.5rem 3.5rem;
   &__title {
    @include font(3rem, $title-color, 700, $text-ff, 1.4);
    margin: 0;
    margin-bottom: 1.7rem;
    &--sm {
        @include font(2.2rem, $title-color, 400, $text-ff, 1.4);
        margin: 0;
    }
   }
   &__subtitle {
       @include font(1.6rem, $title-color, 400, $text-ff, 1.4);
       margin: 0;
       margin-top: 4.5rem;
       margin-bottom: 4.5rem;
   }
}

.btn {
    width: 14rem;
    min-width: 14rem;
    background: transparent;
    border: $b-size solid $btn-color;
    @include font(1.4rem, $btn-color, 700, $btn-ff, 1.4);
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    &:hover,
    &:focus,
    &:active {
        color: $title-color;
        background: #48bf72;
        @include hover;
  }
  &--grey {
      color: $bg-color;
      border: $b-size solid $bg-color;
      &:hover,
      &:focus,
      &:active {
         background: $bg-color;
         border: $b-size solid $bg-color;
      }
  }
  &--big {
      min-width: 100%;
      height: 5rem;
      padding: 1.5rem;
      background: $btn-color;
      color: $title-color;
      font-weight: 700;
      &:hover,
      &:focus,
      &:active {
          background:$bg-color;
          color: $title-color;
          @include hover;
          border: $b-size solid $bg-color;
      }
  }
}

.contact {
    background-color: #fff;
    min-width: 61.5%;
    margin: 5rem auto;
    text-align: center;
    justify-content: center;
    &__container {
        display: flex;
   }
   &__text {
      @include font(2.6rem, $btn-color, 700, $title-ff, 1.4);
      margin: 0;
      margin-bottom: 5rem;
  }
  &__wrapper {
      display: flex;
    
  }
}

.input__container {
    display: flex;
    width: 50%;
    margin-bottom: 3.3rem;
    &__icon {
        position: relative;
        min-width: 5.5rem;
        padding: 1.5rem;
        font-size: 2.2rem;
        background: $bg-color;
        color: $title-color;
        text-align: center;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        border-left: none;
        &:after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-left: 10px solid $bg-color;
        border-bottom: 10px solid transparent;
        left: 100%;
        z-index: 1;
       }
    }
    &--big {
        min-width: 100%;
    }
    textarea {
        width: 100%;
        outline: none;
        border-radius: 3px;
        border: $b-size solid $bg-color;
        border-left: none;
        &:hover,
        &:focus,
        &:active {
            border: $b-size solid $btn-color;
            @include hover;
        }
    }
}


input {
    height: 5rem;
    width: 100%;
    outline: none;
    border: $b-size solid $bg-color;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    border-left: transparent;
    &:hover,
    &:focus,
    &:active {
          border: $b-size solid $btn-color;
          border-left: transparent;
          @include hover;
    }
}

.input__container:hover .input__container__icon,
.input__container:focus .input__container__icon,
.input__container:active .input__container__icon {
    background: $btn-color;
    color: $bg-color;
    @include hover;
}

.input__container:hover .input__container__icon::after,
.input__container:focus .input__container__icon::after,
.input__container:active .input__container__icon::after {
        position: absolute;
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-left: 10px solid $btn-color;
        border-bottom: 10px solid transparent;
        left: 100%;
        z-index: 1;
        @include hover;
}

.input__container:hover .username,
.input__container:focus .username,
.input__container:active .username,
.input__container:hover .email,
.input__container:focus .email,
.input__container:active .email,
.input__container:hover #comments,
.input__container:focus #comments,
.input__container:active #comments {
    border: $b-size solid $btn-color;
    border-left: none;
    @include hover;
}


[placeholder] {
    padding-left: 2.5rem;
    @include font(1.6rem, $text-color, 700, $text-ff, 1.4);
    opacity: .8;
  }

#comments {
    padding-top: 2rem;
}

.username {
    margin-right: 1.5rem;
}

 .far {
     margin-left: 1.5rem;
     height: 5rem;
     &::after {
         top: 33%;
     }
   
 }

// Footer

footer .container__flex {
    justify-content: space-between;
    align-items: center;
    padding: 7rem 3rem;
    text-align: center;
}

footer {
    background: $bg-color;
}

.footer__text {
     @include font(1.6rem, $title-color, 400, $text-ff, 1.4);
        
    }

.social {
    display: inline-block;
    width: 50px;
    margin: 20px;
    position: relative;
    outline: none;
    border-style: none;
    &--blue {
    background: #55acee;
    &::before,
    &::after {
        content: "";
	    position: absolute;
	    left: 0;
	    width: 0;
	    height: 0;
	    border-left: 25px solid transparent;
        border-right: 25px solid transparent;
    }
    &::before {
        top: -12.5px;
        border-bottom: 12.5px solid #55acee;

    }
    &::after {
        bottom: -12.5px; 
	    border-top: 12.5px solid #55acee;

}
}
    &--dark-blue {
        background: #0976b4;
        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            width: 0;
            height: 0;
            border-left: 25px solid transparent;
            border-right: 25px solid transparent;
        }
        &::before {
            top: -12.5px;
            border-bottom: 12.5px solid #0976b4;
    
        }
        &::after {
            bottom: -12.5px; 
            border-top: 12.5px solid #0976b4;
        }
    }
        &--pink {
        background: #ea4c89;
        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            width: 0;
            height: 0;
            border-left: 25px solid transparent;
            border-right: 25px solid transparent;
        }
        &::before {
            top: -12.5px;
            border-bottom: 12.5px solid #ea4c89;
    
        }
        &::after {
            bottom: -12.5px; 
            border-top: 12.5px solid #ea4c89;
    
    }
    }
        &--purple {
        background: #1769ff;
        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            width: 0;
            height: 0;
            border-left: 25px solid transparent;
            border-right: 25px solid transparent;
        }
        &::before {
            top: -12.5px;
            border-bottom: 12.5px solid #1769ff;
    
        }
        &::after {
            bottom: -12.5px; 
            border-top: 12.5px solid #1769ff;
    }
    }
}

    .fab {
        font-size: 2.6rem;
        color: $title-color;
    }

    .social:hover,
    .social:focus,
    .social:active {
        background: $btn-color;
        transform: scale(1.1);
        opacity: .8;
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    }

   
    .social:hover .fab,
    .social:focus .fab,
    .social:active .fab {
        color: $bg-color;
         @include hover;
         cursor: pointer;    
    }

    .social:hover:before,
    .social:active:before,
    .social:focus:before,
    .social:hover::after,
    .social:focus::after,
    .social:active::after {
        content: "";
        position: absolute;
        left: 0;
        width: 0;
        height: 0;
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        outline: none;
    }

    .social:hover:before,
    .social:active:before,
    .social:focus:before {
        top: -12.5px;
        border-bottom: 12.5px solid $btn-color;
    }

    .social:hover::after,
    .social:focus::after,
    .social:active::after {
        bottom: -12.5px; 
        border-top: 12.5px solid $btn-color;
    }

    
 @media screen and (max-width: 1024px) {
     .container {       
           max-width: 750px;
    }
    .logo__link {
        padding-left: 2rem;
    }
     .menu { 
         flex-basis: 60%;
         justify-content: space-between;
         &__item {
         padding: 0 2.5rem;
         &::before {
             content: "";
             display: block;
             width: 1px;
             height: 16px;  
             border-left: $b-size solid $title-color;
             opacity: .5;
             transform: translate(-25px, 20px) rotate(15deg);
         }
     }
    }
    .content {
        min-width: 65%; 
    }
    .btn--grey {
        color: $title-color;
        border: $b-size solid $title-color;
            &:hover,
            &:focus,
            &:active {
               background: $title-color;
               color: $bg-color;
               border: $b-size solid $title-color;
               opacity: .8;
            }
    }
    footer .container__flex {
        padding: 3.5rem 1rem;
   }
   .social {
       margin: 1rem;
   }
 }

@media screen and (max-width: 768px) {
    .container {
        max-width: 570px;
        margin: 0 auto;
    }
    .section {
        &__subtitle {
            margin-bottom: 10rem;
         }
    }
    .logo {
        padding-top: 3rem;
        // &__link {
        //    padding-left: 5rem;
        // }
    }
    .menu {
        display: block;
        position: fixed;
        opacity: 0;
        min-width: 40%;
        height: 100vh;
        background-color: hsla(209, 17%, 28%, .7);
        margin: 0;
        padding-top: 20rem;
        padding-bottom: 5rem;
        top: 0;
        right: 0;
        z-index: 10;
        transform: translate(100%, 0);
        transition: all .5s ease-in;
        &__item {
            display: block;
            margin: 0;
            padding: 0;
            &:first-child {
                display: block;
             }
            &::before,
            &::after {
                content: "";
                display: none;
            }
        }
        &__link {
            display: block;
            width: 100%;
            padding: 0 0 4rem 40%;
            text-align: start;
            @include font(2.5rem, $title-color, 400, $text-ff, 1.4);
        }
    }

    .menu-burger {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 5.5rem;
        right: 7rem;
        width: 4.5rem;
        height: 4.5rem;
        padding-right: 5rem;
        background-color: $btn-color;
        border: 0;
        padding: 0;
        z-index: 12;
        outline: none;
        &:hover,
        &:focus,
        &:active {
            background-color: $title-color;
        }
        &__line {
            display: inline-block;
            min-width: 2.7rem;
            height: .3rem;
            background: $title-color;
            &::before,
            &::after {
                content: "";
                display: block;
                width: 2.7rem;
                height: .3rem;
                background: $title-color;
            }
            &::before {
                margin: 1rem auto;
            }
            &::after {
                margin: -3.3rem auto;
            }
        }
    }
    
    .menu-burger:focus + .menu {
         opacity: 1;
         transform: translate(0, 0);
         transition: all .5s ease-in-out;
    }
    .menu-burger:focus .menu-burger__line::before,
    .menu-burger:focus .menu-burger__line::after {
        background: $bg-color;
    }
    .menu-burger:focus .menu-burger__line::before {
        transform: rotate(45deg) translate(-.5rem, -.6rem);
    }
    .menu-burger:focus .menu-burger__line::after {
        transform: rotate(-45deg) translate(-.8rem, .8rem);
    }
    .list {
        &__item {
           margin: 0;
        }
        &__link {
            margin: 2px;
            padding: .8rem;
            border: 1px dotted $bg-color;
            &:hover,
            &:focus,
            &:active {
                border: 1px dotted $btn-color;
            }
        }
    }
    .portfolio {
        &__title {
        margin: 1rem 0;
        } 
        &__link {
           margin: .7rem;
        }  
    }

    .content {
        min-width: 90%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        padding: 8.5rem 2rem;
        &__title {
            margin: 0;
            align-self: center;
            &--sm {
                align-self: center;
            }
        }
    }
   .btn--grey {
       margin: 0 auto;
   }
    .contact {
        margin: 5rem auto;
    }
   
    footer .container__flex {
        padding: 3rem 1rem;
        flex-direction: column;
        padding: 2rem;
    }
    .footer__text {
        order: 2;
        margin-top: 1.5rem;
    }
    .social {
        width: 32px;
        margin: 2rem;
        justify-content: space-around;
        &::before,
        &::after {
             content: "";
	         position: absolute;
	         left: 0;
	         width: 0;
	         height: 0;
	         border-left: 15px solid transparent;
             border-right: 15px solid transparent;
        }
        &::before {
             top: -8px;
             border-bottom: 8px solid #55acee;

        }    
        &::after {
             bottom: -8px; 
	         border-top: 8px solid #55acee;

        }
        &--dark-blue {
            background: #0976b4;
            &::before,
            &::after {
                content: "";
                position: absolute;
                left: 0;
                width: 0;
                height: 0;
                border-left: 15px solid transparent;
                border-right: 15px solid transparent;
            }
            &::before {
                top: -8px;
                border-bottom: 8px solid #0976b4;
        
            }
            &::after {
                bottom: -8px; 
                border-top: 8px solid #0976b4;
            }
        }
            &--pink {
            background: #ea4c89;
            &::before,
            &::after {
                content: "";
                position: absolute;
                left: 0;
                width: 0;
                height: 0;
                border-left: 15px solid transparent;
                border-right: 15px solid transparent;
            }
            &::before {
                top: -8px;
                border-bottom: 8px solid #ea4c89;
        
            }
            &::after {
                bottom: -8px; 
                border-top: 8px solid #ea4c89;
        
        }
        }
            &--purple {
            background: #1769ff;
            &::before,
            &::after {
                content: "";
                position: absolute;
                left: 0;
                width: 0;
                height: 0;
                border-left: 15px solid transparent;
                border-right: 15px solid transparent;
            }
            &::before {
                top: -8px;
                border-bottom: 8px solid #1769ff;
        
            }
            &::after {
                bottom: -8px; 
                border-top: 8px solid #1769ff;
        }
        }
    }
    .fab {
        font-size: 1.5rem;
        color: $title-color;
    }
    .social:hover:before,
    .social:active:before,
    .social:focus:before,
    .social:hover::after,
    .social:focus::after,
    .social:active::after {
        content: "";
        position: absolute;
        left: 0;
        width: 0;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        outline: none;
    }

    .social:hover:before,
    .social:active:before,
    .social:focus:before {
        top: -8px;
        border-bottom: 8px solid $btn-color;
    }

    .social:hover::after,
    .social:focus::after,
    .social:active::after {
        bottom: -8px; 
        border-top: 8px solid $btn-color;
    }

}

@media screen and (max-width: 600px) {
    .container {
        max-width: 500px;
    }
    .container h1 {
        font-size: 4rem;
    }
    .section__first .container {
        padding: 0 1rem;
    }
    .section__subtitle {
        font-size: 2.5rem;
    }
    .content {
        &__title {
            align-self: flex-start;
            &--sm {
                align-self: flex-start;
            }
        }
     }
    .menu {
        width: 100%;
        height: 80vh;
        transform: translate(0, -100%);
        transition: all .5s ease-in;
        background-color: hsla(209, 17%, 28%, .8);
        &__link {
            @include font(3rem, $title-color, 400, $text-ff, 1.4);
        }
    }
    .menu-burger:focus + .menu,
    .menu-burger:active + .menu  {
        opacity: 1;
        transform: translate(0, 0);
        transition: all .5s ease-in-out;
   }
   .list {
       display: flex;
       flex-wrap: wrap;
       &__item {
           margin-top: 2.2rem;
       }
   }
   .portfolio {
       flex-direction: column;
       &__gallery {
         flex-direction: row;
           flex-wrap: wrap;
       }
       &__link {
        flex-basis: 100%;
        margin: 2rem;
          
       }
   }
   .contact {
    max-width: 90%;
}

}

@media screen and (max-width: 400px) {
    .container h1 {
        font-size: 2.8rem;
        margin-top: 5rem;
    }
    .section__first .container {
         margin:  5rem auto;
    }
    .section__subtitle {
        font-size: 2rem;
    }
    .contact__wrapper {
       flex-direction: column;
    }
    .input__container {
        width: 100%;
    }
    .username {
        margin: 0;
    }
    .far {
        margin: 0;
    }
    .social {
        margin: 1rem;
    }
    .menu {
        height: 80vh;
    }
    .menu-burger {
        right: 2rem;
    }
    .contact {
        min-width: 80%;
    }
}











